<template>
    <div class="place">
        <img class="place__image" :src="img" />
        <h2 class="place__heading">{{ name }}</h2>
        <p class="place__text">{{ desc }}</p>
    </div>
</template>

<script>
  export default {
    data() {
      return {
        counter: 0
      }
    },
    props: ["img", "name", "desc"],
  }
</script>

<style>
.place {
  display: flex;
  flex-direction: column;
  width: 280px;
  min-height: 320px;
  justify-content: center;
  background: white;
  border: 1px solid #ddd;
  padding: 20px 20px;
  margin: 10px;
}

.place__heading {
  margin: 0;
  text-align: center;
}

.place__image {
  margin: 10px;
  align-self: center;
  width: 235px;
}

.place__text {
    margin: 1em 0;
}
</style>
